<div class="content">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @author.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <div>
    <%= raw Slodown::Formatter.new(@author.description).complete.to_s %>
    </div>
  </p>
  <%= link_to 'Edit', edit_author_path(@author) %> |
  <%= link_to 'Back', authors_path %>
</div>

