<h1><%= t 'notes' %></h1>

<div class="content">
  <table>
    <thead>
      <tr>
        <th>
          <%= t 'excerpt' %>
        </th>
        <th>
          <%= t 'note' %>
        </th>
      </tr>
    </thead>
    <tbody>
    <%- @excerpts_with_notes.each do |excerpt| %>
      <tr class="border-bottom">
        <td class="padding-top padding-bottom">
          <%- excerpt.verses.each do |verse| %>
            <%= verse.chapter.book.name %> <%= verse.chapter.number %>:<%= verse.number %> 
          <a href="<%= chapter_path(verse.chapter.book.number, verse.chapter.number) %>#verse-<%= verse.number %>">
            <%= verse.verse_versions.where(version_id: current_version).first.content %>
          </a>
          <br/>
        <%- end %>
        </td>
        <td>
          <blockquote>
            <%= raw markdown_to_html(excerpt.note) %>
          </blockquote>
        </td>
      </tr>
    <%- end %>
    </tbody>
  </table>
</div>
