<h1><%= t 'notes' %></h1>

<%- found_not_available = false %>
<div class="content">
  <table>
    <thead>
      <tr>
        <th>
          <%= t 'excerpt' %>
        </th>
        <th>
          <%= t 'note' %>
        </th>
      </tr>
    </thead>
    <tbody>
    <%- @excerpts_with_notes.each do |excerpt| %>
      <tr class="border-top" data-excerpt-id="<%= excerpt.id %>">
        <td class="padding-top padding-bottom">
          <%- excerpt.verses.each do |verse| %>
            <%= verse.chapter.book.name %> <%= verse.chapter.number %>:<%= verse.number %> 
          <a href="<%= chapter_path(verse.chapter.book.number, verse.chapter.number) %>#verse-<%= verse.number %>">
            <%- verse_version = verse.verse_versions.where(version_id: current_version).first %>
            <%- if verse_version %>
              <%= verse_version.content %>
            <%- else %>
              [N/A] *
              <%- found_not_available = true %>
            <%- end %>
          </a>
          <br/>
        <%- end %>
        </td>
        <td>
          <blockquote>
            <%= raw markdown_to_html(excerpt.note) %>
          </blockquote>
        </td>
      </tr>
    <%- end %>
    </tbody>
  </table>
  <%- if found_not_available %>
    <p class="missing-content-explanation">
      * <%= t 'verse_warning' %>
    </p>
  <%- end %>
</div>
