<%- if @query %>
  <h1><%= t 'search.found' %> <%= @verse_versions.size %> <%= t 'search.verses_with' %> '<%= @query %>'</h1>
<%- else %>
  <h1><%= t 'search.search' %></h1>
<%- end %>

<div class="content full-width">
  <form method="get" action="<%= verse_search_path %>" class="content">
    <input type="text" name="query" value="<%= @query %>" />
    <%= select_tag 'book_id', options_for_select([[t('search.book_scope'), nil]] + @books.collect{ |b| [b.name, b.id] }, params[:book_id]) %>
    <input type="submit" value="<%= t 'search.search' %>" />
  </form>

  <%- if @verse_versions.size > 0 %>
    <dl class="content">
      <h2><%= @verse_versions.size %> <%= t 'search.results' %></h2>
      <%- @verse_versions.each do |verse_version| %>
        <%- verse = verse_version.verse %>
        <%- chapter = verse.chapter %>
        <%- book = chapter.book %>
        <dt>
          <a href="<%= chapter_read_path(book.number, chapter.number) %>#verse-<%= verse.number %>">
            <%= book.name %> <%= chapter.number %>:<%= verse_version.verse.number %>
          </a>
        </dt>
        <dd>
        <%= raw verse_version.content.gsub(@query, "<mark>#{@query}</mark>") %>
        </dd>
      <%- end %>
    </dl>
  <%- end %>
</div>
