<h1><%= t 'tags' %></h1>

<div class="content full-width  letters-of-tags">
  <%-
   number_of_letters = @tags.size
   number_of_columns = 3
   by_column = number_of_letters / number_of_columns.to_f
   by_column += 1 if by_column % 1 > 0  # because Float#ceil doesn't seem to work as I expect
  %>
<%- if by_column > 0 %>
  <%- @tags.each_slice(by_column) do |slice| %>
    <div class="letters-of-tags__column one-third-column">
      <%- slice.each do |first_letter, tag_group| %>
        <div class="letter-of-tags">
          <h2><%= first_letter %></h2>
          <table class=" tags-list">
            <%- tag_group.each do |tag| %>
              <tr>
                <td class="tags-list__first">
                  <a href="<%= tags_show_path(tag) %>"><%= tag.name %></a> (<%= tag.excerpts.size %>)
                </td>
                <td class="tags-list__tools">
                  <a href="<%= tag_delete_path(tag) %>" onclick="return confirm('<%= t "are_you_sure" %>')"><%= t 'tools.delete' %></a>
                </td>
              </tr>
            <%- end %>
          </table>
        </div>
      <%- end %>
    </div>
  <%- end %>
<%- else %>
  <%= t 'no_tag_yet' %>
<%- end %>
</div>
