<h1><%= t 'excerpts_with_tag' %> '<%= @tag.name %>'</h1>

<div class="content full-width">
<%- @excerpts_with_text.each do |excerpt| %>
  <p>
    <%- excerpt.each do |verse| %>
      <%= verse[:chapter].book.name %> <%= verse[:chapter].number %>:<%= verse[:verse_number] %>  <a href="<%= verse[:path] %>#verse-<%= verse[:verse_number] %>"><%= verse[:text] %></a><br/>
    <%- end %>
  </p>
  <hr/>
<%- end %>
</div>
