<%- found_not_available = false %>
<%- colors_map = {} %>
<%- colors = excerpt_colors %>
  <%= render partial: 'chapter_nav', locals: {book: @book, chapter: @chapter} %>
  <p class="js-chapter  chapter">
    <%- @chapter.verses.each do |verse| %>
      <span class="js-verse  verse"><%- if verse.starts_an_excerpt? && current_user %><%- verse.excerpts_with_verse_as_first.each do |ex| %><%- colors_map[ex.id] = colors.pop unless colors_map.has_key?(ex.id) %><%- color = colors_map[ex.id] %><a
              href="#"
              data-excerpt_id="<%= ex.id %>"
              data-excerpt_color="<%= color %>"
              class="js-excerpt-start  excerpt-start"
              style="color: #<%= color %>;">[</a><%- end %><%- end %>
        <sup>
          <a
            class="js-verse__number  verse__number"
            href="#<%= verse.number %>"
            data-book_number="<%= @chapter.book.number %>"
            data-chapter_number="<%= @chapter.number %>"
            data-verse_number="<%= verse.number %>">
            <%= verse.number %></a>
        </sup>
        <%- verse_version = verse.verse_versions.find_by_version_id(@version.id) %>
        <%- unless verse_version %>
          <%- found_not_available = true %>
        <%- end %>
        <span
          id="verse-<%= verse.number %>"
          class="js-verse__text  verse__text <%= verse.excerpt_ids.map{|ei| "js-in-excerpt-#{ei}" }.join(' ') %>"><%= verse_version ? verse_version.content : "[N/A]*" %></span>
        <%- if verse.ends_an_excerpt? && current_user %>
          <%- verse.excerpts_with_verse_as_last.each do |ex| %><%- color = colors_map[ex.id] %><a
              href="#"
              data-excerpt_id="<%= ex.id %>"
              data-excerpt_color="<%= color %>"
              class="js-excerpt-end  excerpt-end"
              style="color: #<%= color %>;">]</a><%- end %>
        <%- end %>
      </span>
    <%- end %>
  </p>
  <%= render partial: 'chapter_nav', locals: {book: @book, chapter: @chapter} %>
<br/>
<%- if found_not_available %>
  <p class="missing-content-explanation">
    * <%= t 'verse_warning' %>
  </p>
<%- end %>
