<h1><%= @chapter.book.name %> - Chapter <%= @chapter.number %></h1>

<div class="reader">
  <p class="js-chapter  chapter">
    <%- @chapter.verses.each do |verse| %>
      <span class="js-verse  verse">
        <sup>
          <a class="js-verse__number  verse__number" href="#<%= verse.number %>" data-version_slug="<%= @version.slug %>" data-book_number="<%= @chapter.book.number %>" data-chapter_number="<%= @chapter.number %>" data-verse_number="<%= verse.number %>">
            <%= verse.number %></a>
        </sup>
        <span class="js-verse__text  verse__text"><%= verse.verse_versions.find_by_version_id(@version.id).content %></span>
      </span>
    <%- end %>
  </p>
</div>

<form class="js-excerpt-edit  excerpt-edit" action="<%= tags_assign_path %>">
  <h2>Tags for these verses:</h2>
  <p class="js-excerpt-edit__preview"></p>
  <input class="js-excerpt-edit__book" type="hidden" name="book" value="<%= @chapter.book.number %>" />
  <input class="js-excerpt-edit__chapter" type="hidden" name="chapter" value="<%= @chapter.number %>" />
  <p>
    <select class="js-excerpt-edit__tags  excerpt-edit__tags" multiple="multiple">
      <%- @tags.each do |tag| %>
        <option value="<%= tag.name %>"><%= tag.name %></option>
      <%- end %>
    </select>
  </p>
  <p>
    <input type="submit" name="submit" value="Save" />
  </p>
</form>

<script>
  new App.Verses();
</script>
