<h1><%= @chapter.book.name %> - <%= @chapter.number %></h1>
<p class="js-chapter  chapter">
  <%- @chapter.verses.each do |verse| %>
    <span class="js-verse  verse">
      <a class="js-verse__number  verse__number" href="#<%= verse.number %>" data-version_slug="" data-book_number="<%= @chapter.book.number %>" data-chapter_number="<%= @chapter.number %>" data-verse_number="<%= verse.number %>"><%= verse.number %></a>
      <span class="js-verse__text  verse__text"><%= verse.verse_versions.find_by_version_id(1).content %></span>
    </span>
  <%- end %>
</p>

<script>
  new App.Chapter();
  new App.Verses();
</script>
