<h1><%= @chapter.book.name %> - <%= t 'chapter' %> <%= @chapter.number %></h1>

<div class="reader content js-chapter-content">
  <%= render partial: 'chapter_text', locals: {chapter: @chapter, book: @book, version: @version} %>
</div>

<form class="js-excerpt-edit  excerpt-edit" action="<%= tags_assign_path %>">
  <fieldset class="js-excerpts-edit-box" style="display: none;">
    <h2><%= t 'excerpt' %></h2>
    <p>
      <button class="js-excerpt-delete"><%= t 'delete_excerpt' %></button>
    </p>
  </fieldset>
  <fieldset class="js-tags-edit-box">
    <h2><%= t 'tags' %></h2>
    <h3><%= t 'in_this_chapter' %></h3>
    <p class="tags-in-chapter">
      <%- @chapter_tags.each do |tag| %>
        <a href="<%= tags_show_path(tag.id) %>" class="js-tags-in-chapter__tag  tags-in-chapter__tag"><%= tag.name %></a>
      <%- end %>
      <%- if @chapter_tags.empty? %>
        <i><%= t 'no_tag_yet' %></i>
      <%- end %>
    </p>
    <div class="js-tags-in-excerpt" style="display: none">
      <h3><%= t 'in_this_excerpt' %></h3>
      <p class="tags-in-excerpt">
        <i><%= t 'please_select_excerpt' %></i>
      </p>
    </div>
    <div class="js-assign-tag-to-verses">
      <h3><%= t 'assign_tag_to_verses' %></h3>
      <p class="js-excerpt-edit__preview"></p>
      <input class="js-excerpt-edit__book" type="hidden" name="book" value="<%= @chapter.book.number %>" />
      <input class="js-excerpt-edit__chapter" type="hidden" name="chapter" value="<%= @chapter.number %>" />
      <p>
        <select class="js-excerpt-edit__tags  excerpt-edit__tags" multiple="multiple">
          <%- @tags.each do |tag| %>
            <option value="<%= tag.name %>"><%= tag.name %></option>
          <%- end %>
        </select>
      </p>
      <p>
        <input type="submit" name="submit" value="<%= t 'add' %>" />
      </p>
    </div>
  </form>
  </fieldset>
  <form>
</form>

<script>
new App.Verses(<%= @book.number %>, <%= @chapter.number %>);
</script>
