<h1><%= @chapter.book.name %>, <span class="lowercase"><%= t 'chapter' %></span> <%= @chapter.number %></h1>

<div class="reader content js-chapter-content">
  <%= render partial: 'chapter_text', locals: {chapter: @chapter, book: @book, version: @version} %>
</div>

<div class="js-excerpt-edit  excerpt-edit" >
  <!--
  <fieldset class="js-excerpts-edit-box"><%# style="display: none;" %>
    <h2><%= t 'excerpt' %></h2>
    <p>
      <button class="js-excerpt-delete"><%= t 'delete_excerpt' %></button>
    </p>
  </fieldset>
  -->
  <h2><%= t 'annotations' %></h2>
  <div class="">
    <h3><%= t 'tags_in_this_chapter' %></h3>
    <p class="tags-in-chapter">
      <%- @chapter_tags.each do |tag| %>
        <a href="<%= tags_show_path(tag.id) %>" class="js-tags-in-chapter__tag  tags-in-chapter__tag"><%= tag.name %></a>
      <%- end %>
      <%- if @chapter_tags.empty? %>
        <i><%= t 'no_tag_yet' %></i>
      <%- end %>
    </p>
    <h3><%= t 'tags_in_selected_excerpt' %></h3>
    <div class="js-tags-in-excerpt"><!--  style="display: none;" -->
      <p class="js-list-tags-in-excerpt  tags-in-excerpt">
        <i><%= t 'please_select_excerpt' %></i>
      </p>
    </div>
  </div>
  <form action="<%= tags_assign_path %>" class="js-excerpt-note-edit">
    <div class="js-assign-tag-to-verses">
      <h3><%= t 'assign_tag_to_verses' %></h3>
      <p class="js-excerpt-edit__preview"></p>
      <input class="js-excerpt-edit__book" type="hidden" name="book" value="<%= @chapter.book.number %>" />
      <input class="js-excerpt-edit__chapter" type="hidden" name="chapter" value="<%= @chapter.number %>" />
      <p>
        <select class="js-excerpt-edit__tags  excerpt-edit__tags" multiple="multiple">
          <%- @tags.each do |tag| %>
            <option value="<%= tag.name %>"><%= tag.name %></option>
          <%- end %>
        </select>
      </p>
      <h3><%= t 'note' %></h3>
      <%= text_area_tag(:note, "", size: "27x6", class: 'js-excerpt-edit__note') %>
      <p>
        <input type="submit" name="submit" value="<%= t 'save' %>" />
      </p>
    </div>
  </form>
</div>

<script>
new App.Verses(<%= @book.number %>, <%= @chapter.number %>);
</script>
