<!DOCTYPE html>
<html>
<head>
  <title>Data Bible</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield (:body_class) %>">

<nav>
  <ul>
    <li><a href="/"><%= t 'book_chapter' %></a></li>
    <li><a href="<%= books_by_author_path %>"><%= t 'authors' %></a></li>
    <li><a href="/tags/index"><%= t 'tags' %></a></li>
    <li><a href="/excerpts/notes"><%= t 'notes' %></a></li>
    <li><a href="<%= word_cloud_path %>"><%= t 'word_cloud' %></a></li>
    <li><a href="<%= verse_search_path %>"><%= t 'search_verses' %></a></li>
    <li><a href="<%= choose_version_path %>"><%= t 'version' %>: <%= current_version.name %></a></li>
    <li><a href="?locale=<%= I18n.locale == :fr ? :en : :fr %>"><%= locale_to_human_language_name(current_locale.to_sym == :fr ? :en : :fr) %></a></li>
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>  
      </li>
    <% end %>
  </ul>
</nav>

<div class="flash">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<%= yield %>

</body>
</html>
